# compiled output
/dist
/node_modules
/frontend/node_modules
/frontend/dist

# env
.env

# IDE
.vscode
.idea
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# uploads
/uploads/*
!/uploads/.gitkeep

# logs
*.log
npm-debug.log*
